<form>
  <div class="form-group">
    <label for="userName">Username</label>
    <input required minlength="3" maxlength="30" ngModel name="userName" #userName="ngModel" (change)="log(userName)" id="userName" type="text" class="form-control">
    <div class="alert alert-danger" *ngIf="userName.touched && !userName.valid">
      <div *ngIf="userName.errors.required">Username is required.</div>
      <div *ngIf="userName.errors.minlength">Username should be min {{ userName.errors.minlength.requiredLength}} characters.</div>
    </div>
  </div>
  <button class="btn btn-primary">Submit</button>
</form>
